---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";

body {
  padding-top: 70px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-brand.title, .navbar-brand.title:hover  { 
  color:#fa0;
}

#page-footer {
	background: #555;
	color: #ddd;
	padding:30px;
}

#main-container {
	margin-bottom:20px;
}